.header_text:link, .header_text:visited, .header_text:active, .header_text:hover, .header_text:focus {
	color: #006699;
	font-size: 18pt;
	/*padding-left:10px;*/
	margin-left:8px;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
}

.header_text_small:link, .header_text_small:visited, .header_text_small:active, .header_text_small:hover, .header_text_small:focus {
	color: #006699;
	font-size: 12pt;
	padding-left:10px;
	font-weight: normal;
	text-decoration: none;
}

.seasonnav:link, .seasonnav:visited {
	font-weight: bold;
	text-align:center;
	color: #ffffff;
	text-decoration: underline;
	/*background-color: #fe7f02;*/
	text-transform:uppercase;
	display:block;
}
.seasonnav:active, .seasonnav:hover, .seasonnav:focus {
	text-decoration: none;
	font-weight: none;
}

.nav:link, .nav:visited {
	font-size: 8pt;
	font-weight: bold;
	padding: 2px;
	color: #2d2d2d;
	text-decoration: none;
	text-transform:uppercase;
	display:block;
}
.nav:active, .nav:hover, .nav:focus {
	color: #000000;
	text-decoration: none;
	background-color: #d3d3d3;
}

.subnav, .subnav:link, .subnav:visited {
	font-size: 8pt;
	padding-top: 2px;	
	padding-left: 2px;
	color: #2d2d2d;
	text-decoration: none;
	display:block;
}
.subnav:active, .subnav:hover, .subnav:focus {
	color: #000000;
	text-decoration: underline;
	background-color: #d3d3d3;
}

.navpoollink, .navpoollink:link, .navpoollink:visited {
	font-size: 8pt;
	/*padding: 2px;*/
	padding-left: 8px;
	color: #2d2d2d;
	text-decoration: none;
	display:block;	
}
.navpoollink:active, .navpoollink:hover, .navpoollink:focus {
	color: #000000;;
	text-decoration: underline;
	background-color: #d3d3d3;
}

.navigation_bar_text{
	padding: 0px;
	margin: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 10px;
	/*vertical-align: center;*/
}
	
.menuseasonlevel {
	font-size: 10px;
	color: #ffffff;;
	font-weight: bold;
	text-align:center;
	text-transform:uppercase;
	/*background-color: #fe7f02;*/
	background-color: #006699; 
}

.menuserieslevel {
	font-size: 10px;
	font-weight: bold;
}
.menupoollevel {
	font-size: 10px;
	/*padding-left:10px*/;
}

.pagemenu_container{
	width: 100%;
	margin: 0px;
	padding: 0px;
	height:15px;
}

ul#pagemenu{
	list-style-type:none;
	position:relative;
	width:100%;
	font-weight:bold;
	font-size: 10px;
	margin:0px;
	padding:0px;
}

ul#pagemenu li{
	display:block;
	float:left;
	margin:0 0 0 4px;
}

ul#pagemenu li.left{
	margin:0;
}

ul#pagemenu li a{
	display:block;
	float:left;
	color: #2d2d2d;
	background:#acd1e9;
	text-decoration:none;
	padding:3px 17px 0 18px;
	}
	
ul#pagemenu li a.right{
	padding-right:19px;
	}
	
ul#pagemenu li a:hover{
	text-decoration: underline;
	background-color: #d3d3d3;
	border-left:1px solid #333;
	border-right:1px solid #333;
	border-top:1px solid #333;
	}
	
ul#pagemenu li a.current{
	color: #2d2d2d;
	text-decoration:  underline;
	background:#fff;
	border-left:1px solid #333;
	border-right:1px solid #333;
	border-top:1px solid #333;
	}


.thsort, .thsort:link, .thsort:visited {
	font-size: 10px;
	color: #ffffff;
	text-decoration: underline;
}
.thsort:active, .thsort:hover, .thsort:focus {
	color: #996699;
	text-decoration: none;
}

.thlink, .thlink:link, .thlink:visited {
	font-size: 10px;
	color: #ffffff;
	text-decoration: underline;
}

.thlink:active, .thlink:hover, .thlink:focus {
	color: #0bc5e0;
	text-decoration: none;
}

.topheadertext{  
	color: #000000;
	background-color: #ffffff; 
	padding:1px;
}

.topheaderlink, .topheaderlink:link, .topheaderlink:visited{  
	color: #000000;
	text-decoration: underline;
}

.topheaderlink:active, .topheaderlink:hover, .topheaderlink:focus {
	color: #986598;
	text-decoration: none;
}

.highlight{  
background-color: #d7c2ee; 
}

.attention{  
	background-color: #FFB6C1; 
}

.lowlight{  
	color: #a0a0a0; 
}

.schedulingname{  
	font-style:italic; 
}

.list_letter{  
	color: #000000; 
	font-size: 10pt; 
	line-height: 12pt; 
	font-weight: bold; 
	text-transform:uppercase;
}

.selectable_highlight{  
	background-color: #A6C7E9;
	cursor:pointer;
	font-weight: bold; 
}

.callahan{  
	background-color: #e0e0e0; 
	color: #a0a0a0; 
}

.warning{  
	color: #FF0000; 
}

.home { 
background-color: #986598; 
	color: white;
}

.guest { 
background-color: #339798; 
	color: white;
}

.mediaevent { 
	width:14px;
	height:14px;
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
}
	
.homefontcolor { 
color: #99ccff;
}

.guestfontcolor { 
color: #ef7a7a;
}

.halftime { 
	background-color: #cccccc; 
	color: black; 
	font-weight: bold; 
	text-align: center
}

.infocell{  
	color: #000000; 
	font-size: 8pt; 
	text-align: left; 
	text-decoration: none; 
	font-weight: bold;
	vertical-align: bottom;
	font-variant: small-caps;
}

.headerlink{
	color: #000000; 
	font-size: 12pt; 
	text-align: left; 
	text-decoration: none; 
	font-weight: bold;
	vertical-align: bottom;
	font-variant: small-caps;
}

.groupinglink:link, .groupinglink:visited{
	color: #2d2d2d;
	text-align: left; 
	text-decoration: underline; 
	font-weight: bold;
	vertical-align: bottom;
	font-variant: small-caps;
	display:block;
	padding:0px 5px 0 5px;
	float:left;
	
}

.groupinglink:hover, .groupinglink:focus {
	color: #986598;
	text-decoration: none; 
	font-weight: bold;
}

.selgroupinglink{
	color: #986598;

	text-decoration: none; 
	font-weight: bold;
	font-variant: small-caps;
}

.profileheader{
	font-weight: bold;
}

.dbrow{
	font-size: 1em;
}

.timezone{  
	color: #a0a0a0;
	font-style:italic; 
}

.guides{  
	font-style:italic;
	font-size: 8pt;
	text-align: center; 
	vertical-align: middle;
}