
.page{
	max-width: 920px;
	width: 100%;
  	margin: 0 auto;
	overflow: visible;
	clear: both;
	padding-top: 0px;
	padding-bottom: 25px;
	padding-right: 0px;
	border: 1px solid #4a4a4a;
	border-radius: 6px;
	background-color: #ffffff;
	box-shadow: 0 4px 14px rgba(0, 0, 0, 0.18);
}

.mobile_page{
	width: 300px;
	border:1px solid #333;
	margin-left: auto;
	margin-right: auto;
	overflow: visible;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 0px;
	padding-bottom: 25px;
	background-color: #FFFFFF;

}

.page_top{
	width: 100%;
	padding:0px;
	padding-right: 0px;
	height:50px;
	border-bottom: 1px dashed #444;
	background: linear-gradient(#f8f8f8, #ececec);
	/*background-color: #afafaf;*/
}

.top_banner_space{
	height: 0px;
}

.page_middle{
	width: 100%;
	clear: both;

}

.page_bottom{
	width: 100%;
}

.navigation_bar{
	width: 95%;
	height: 16px;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
	/*background-color: #E0E0E0;*/
	/*border-top: solid #EEEEDD 1px; */
	/*border-bottom: solid #000000 1px; */
	/*border-left: solid #EEEEDD 1px; */
	/*border-right: solid #000000 1px;*/
	/*margin-bottom: 2px;*/
}

.logo{
	width: 90%;
	display: block;
	margin: 5px auto;
	border: 0; 
	text-align: center;
}

.menu_left {
	vertical-align: top;
	/*background-color: #ebebeb;*/
	width: 195px;
}

.menu_left table {
	margin: 0 0 5px 0;
}

.leftmenulinks {
	float:left;
	text-align: left;
	vertical-align: top;
	background-color: #f1f1f1;
	width: 195px;
	margin: 0 0 5px 0;
	padding: 0;
	border: 1px solid #7a7a7a;
	border-radius: 4px;
	border-collapse: separate;
	border-spacing: 0;
	overflow: hidden;
}

.leftmenulinks_plain {
	float: left;
	text-align: left;
	vertical-align: top;
	background-color: transparent;
	width: 195px;
	margin: 0 0 5px 0;
	padding: 0;
	border: 0;
	border-collapse: separate;
	border-spacing: 0;
}

.topheader_right{
	/*background-image: url("header_right.jpg");*/
	/*background-repeat:repeat-x;*/
	vertical-align:top;
	padding-top:0px;
	padding-right:10px;
	width: 200px;
}
.topheader_left{
	/*width: 503px;*/
}
.seasondropdown {
	width: 175px;
	background-color: #54cfe6;
	background-image: linear-gradient(#7cdaee, #3fc6e0);
	color: #000000; 
	font-size: 11px; 
	border-top: solid #f0f0ea 1px; 
	border-bottom: solid #6b6b6b 1px; 
	border-left: solid #f0f0ea 1px; 
	border-right: solid #6b6b6b 1px;
	border-radius: 6px;
	padding: 1px 5px;
}

.history-table {
	white-space: nowrap;
	border-collapse: collapse;
}

.history-table th,
.history-table td {
	padding: 1px 2px;
}

.history-table th {
	white-space: normal;
}

.tdcontent {
	/*border-left: solid #598788 4px;*/ 
	width: 100%;
	
}

.content {
	/*width: 635px;*/
	width: 95%;
	height:100%;
	margin: 0px;
	margin-left:5px;
	margin-right:5px;
	background-color: #ffffff;
	padding-right: 0px;
	padding-left: 5px;
	padding-top: 5px;
	/*border:1px solid #333;*/
}

.menuseparator{	
	border-bottom:1px dotted #333;
}

.center{
	text-align: center; 
	vertical-align: middle;
}

.right{
	text-align: right; 
	vertical-align: middle;
}

.nowrap{
	white-space: nowrap;
}

.teams-table{
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	margin: 10px 0;
	background-color: #ffffff;
	border: 0;
	border-radius: 0px;
	overflow: hidden;
	padding: 0;
}

.teams-table th,
.teams-table td{
	padding-left: 8px;
	padding-right: 8px;
}

.teams-table th{
	background-color: #2d2d2d;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.08);
}

.teams-table tr:first-child td{
	border-top: 1px solid #cfcfcf;
}

.teams-table tr:nth-of-type(even) td{
	background-color: #f7f7f7;
}

.teams-table tr:hover td{
	background-color: #eef7f9;
}

.games-table{
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	margin: 10px 0;
	background-color: #ffffff;
	border: 0;
	border-radius: 0px;
	overflow: hidden;
	padding: 0;
}

.games-table th,
.games-table td{
	padding-left: 4px;
	padding-right: 4px;
}

.games-table th{
	background-color: #2d2d2d;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.08);
}

.games-table tr:first-child td{
	border-top: 1px solid #cfcfcf;
}

.games-table tr:nth-of-type(even) td{
	background-color: #f7f7f7;
}

.games-table tr:hover td{
	background-color: #eef7f9;
}

.left{
	text-align: left; 
	vertical-align: middle;
}

.button {
	cursor:pointer;
	font-size: 10px; 
}

.input {
	font-size: 10px; 
}

.checkbox {
	font-size: 10px;
	padding: 1px;
	margin: 1px;
}

.fakeinput {
	font-size: 10px;
	color: #000000;
	background-color: #ffffff;
	border: 0;
}

.helpbutton {
	width: 20px;
	height: 20px;
}

.deletebutton {
	cursor:pointer;
	padding: 0px;
	padding-left: 3px;
	padding-right: 3px;
	border: 0;
	
}

.deletebutton:hover {
	background-color: #0bc5e0;
}

.dropdown {
	font-size: 10px; 
}

.infotable td {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.infotable th {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
}

.posvalue td {
	color: #2f5721;
}
.negvalue td {
	color: #6b1a1a;
}

.localeselection {
	border: 1px solid #000000;
	height:10px;
}

yuicalendar.table {
	font-size:small;
}

.calweekdaycell{
	background-color: #FFFFFF;
}

.calheader{
	color: #006699;
}

.twitter-list {
  margin: 0 0 15px 15px;
  padding: 0;
  list-style-type: none;
} 

.twitter-list li{
  margin: 0 0 10px 0;
  padding: 0;
  list-style-type: none;
} 

.twitter-list li a{
  padding: 0 0 0 19px;
  background: url("../../images/linkicons/twitter_14x14.png") no-repeat 0 50%;
} 
.feed {
  margin-left: 3px;
  padding: 0 0 0 19px;
  background: url("../../images/linkicons/feed_14x14.png") no-repeat 0 50%;
} 

.feed-list {
  margin: 0 0 15px 15px;
  padding: 0;
  list-style-type: none;
}

.feed-list li {
  margin: 0 0 10px 0;
  padding: 0;
  list-style-type: none;
}

.feed-list li a {
  padding: 0 0 0 19px;
  background: url("../../images/linkicons/feed_14x14.png") no-repeat 0 50%;
  list-style-type: none;
} 

.playedpool {
	background-color: #E0E0E0;
}

.tablelowlight {
	background-color: #E0E0E0;
}

.admintable {
	white-space: nowrap;
	width: 100%;
	
	/*border-collapse:separate;*/ 
	/*border-spacing:1em;*/
}

tr.admintablerow:nth-of-type(odd) { background-color: #E0FFFF; }
tr.admintablerow:nth-of-type(even) { background-color: #F5DEB3; }
	
.admintablerow {
	/*border-bottom: 1px solid #006;*/
	/*background-color: #E0E0E0;*/
}

tr.admintablerow > td
{
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-right: 0.5em;
}


.flag{
	border-collapse:collapse;
	border:1px solid black;
}
