parameters:
	ignoreErrors:
		-
			message: '#^Undefined variable\: \$left_margin$#'
			identifier: variable.undefined
			count: 1
			path: cust/bula/pdfschedule.php

		-
			message: '#^Undefined variable\: \$title$#'
			identifier: variable.undefined
			count: 1
			path: cust/bula/pdfschedule.php

		-
			message: '#^Undefined variable\: \$info$#'
			identifier: variable.undefined
			count: 1
			path: cust/bula/pdfscoresheet.php

		-
			message: '#^Variable \$season might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: cust/fpudd/mass-accreditation.php

		-
			message: '#^Method tFPDF\:\:MultiCell\(\) invoked with 7 parameters, 3\-6 required\.$#'
			identifier: arguments.count
			count: 1
			path: cust/fpudd/pdfschedule.php

		-
			message: '#^Undefined variable\: \$left_margin$#'
			identifier: variable.undefined
			count: 1
			path: cust/fpudd/pdfschedule.php

		-
			message: '#^Undefined variable\: \$title$#'
			identifier: variable.undefined
			count: 1
			path: cust/fpudd/pdfschedule.php

		-
			message: '#^Undefined variable\: \$info$#'
			identifier: variable.undefined
			count: 1
			path: cust/fpudd/pdfscoresheet.php

		-
			message: '#^Variable \$row might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: cust/gummis/pdfschedule.php

		-
			message: '#^Method tFPDF\:\:MultiCell\(\) invoked with 7 parameters, 3\-6 required\.$#'
			identifier: arguments.count
			count: 1
			path: cust/windmill/pdfschedule.php

		-
			message: '#^Undefined variable\: \$left_margin$#'
			identifier: variable.undefined
			count: 1
			path: cust/windmill/pdfschedule.php

		-
			message: '#^Undefined variable\: \$title$#'
			identifier: variable.undefined
			count: 1
			path: cust/windmill/pdfschedule.php

		-
			message: '#^Undefined variable\: \$info$#'
			identifier: variable.undefined
			count: 1
			path: cust/windmill/pdfscoresheet.php
