parameters:
    level: 2
    paths:
        - admin
        - api
        - cust
        - ext
        - lib
        - login
        - mobile
        - plugins
        - scorekeeper
        - spiritkeeper
        - user
        - .
    excludePaths:
        - vendor/*
        - live/*
        - lib/tfpdf/*
        - lib/yuiloader/*
        - lib/phpqrcode/*
        - lib/feed_generator/*
        - lib/hsvclass/*
    fileExtensions:
        - php
    bootstrapFiles:
        - lib/tfpdf/tfpdf.php
        - lib/tfpdf/cellfit.php
        - lib/hsvclass/HSVClass.php
        - lib/feed_generator/FeedWriter.php
        - lib/feed_generator/FeedItem.php
        - lib/phpqrcode/phpqrcode.php
        - lib/yuiloader/phploader/loader.php
        - phpstan-stubs.php
    ignoreErrors:
        -
            message: '#^Variable \$include_prefix might not be defined\.$#'
    parallel:
        maximumNumberOfProcesses: 4
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
includes:
    - phpstan-baseline.neon
