parameters:
	ignoreErrors:
		-
			message: '#^Cannot access offset ''accreditation_id'' on int\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: lib/player.functions.php

		-
			message: '#^Cannot access offset ''achievements'' on int\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: lib/player.functions.php

		-
			message: '#^Cannot access offset ''birthdate'' on int\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: lib/player.functions.php

		-
			message: '#^Cannot access offset ''birthplace'' on int\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: lib/player.functions.php

		-
			message: '#^Cannot access offset ''email'' on int\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: lib/player.functions.php

		-
			message: '#^Cannot access offset ''firstname'' on int\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: lib/player.functions.php

		-
			message: '#^Cannot access offset ''gender'' on int\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: lib/player.functions.php

		-
			message: '#^Cannot access offset ''height'' on int\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: lib/player.functions.php

		-
			message: '#^Cannot access offset ''info'' on int\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: lib/player.functions.php

		-
			message: '#^Cannot access offset ''lastname'' on int\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: lib/player.functions.php

		-
			message: '#^Cannot access offset ''national_id'' on int\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: lib/player.functions.php

		-
			message: '#^Cannot access offset ''nationality'' on int\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: lib/player.functions.php

		-
			message: '#^Cannot access offset ''nickname'' on int\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: lib/player.functions.php

		-
			message: '#^Cannot access offset ''num'' on int\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: lib/player.functions.php

		-
			message: '#^Cannot access offset ''position'' on int\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: lib/player.functions.php

		-
			message: '#^Cannot access offset ''public'' on int\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: lib/player.functions.php

		-
			message: '#^Cannot access offset ''story'' on int\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: lib/player.functions.php

		-
			message: '#^Cannot access offset ''throwing_hand'' on int\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: lib/player.functions.php

		-
			message: '#^Cannot access offset ''weight'' on int\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: lib/player.functions.php
