<?php
define('DATE_FORMAT', _("%d.%m.%Y %H:%M"));
define('DB_HOST', 'localhost');
define('DB_USER', 'pelikone');
define('DB_PASSWORD', 'pelikone');
define('DB_DATABASE', 'pelikone');
define('CUSTOMIZATIONS', 'wfdf');
define('DEFAULT_LOCALE', 'fi_FI.utf8');
define('DEFAULT_TIMEZONE','Europe/Helsinki');
define('WORD_DELIMITER', '/([\;\,\-_\s\/\.])/');
define('UPLOAD_DIR', 'images/uploads/');

//define('CUSTOMIZATIONS', 'default');
global $locales;
$locales = array("en_GB.utf8" => "English", "fi_FI.utf8" => "Suomi");

global $CFG;
$CFG=new stdClass();
$CFG->debug=0;

?>

