<?php
/**
MySQL Settings - you can get this information from your web hosting company.
*/
define('DB_HOST', 'localhost');
define('DB_USER', 'ultiorganizer');
define('DB_PASSWORD', 'ultiorganizer');
define('DB_DATABASE', 'ultiorganizer');

/**
Server Defaults.
*/
define('BASEURL', 'http://localhost/ultiorganizer');
define('UPLOAD_DIR', 'images/uploads/');
define('CUSTOMIZATIONS', 'slkl');
define('DATE_FORMAT', _("%d.%m.%Y %H:%M"));
define('WORD_DELIMITER', '/([\;\,\-_\s\/\.])/');

define('ENABLE_ADMIN_DB_ACCESS', 'disabled');

?>

