HTML {
margin: 0;
overflow:auto;
border: none;
}

body {
margin: 0;
}

p{  
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #000000; 
font-size: 10px; 
text-align: left; 
text-decoration: none; 
}


.pk_table{
border-collapse:collapse;
margin: 5px;
padding: 1px;
}

.pk_ser_th{
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #000000; 
font-size: 8pt; 
text-align: center; 
text-decoration: none;
font-weight: bold; 
background-color: #ffffff;
border-width: 1px 1px 1px 1px;
border-style: solid;
padding: 1px; 
}
.pk_ser_td1{  
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #000000; 
font-size: 8pt; 
text-align: left; 
text-decoration: none; 
border-width: 1px 1px 1px 1px;
border-style: solid;
padding: 1px;
}
.pk_ser_td2{  
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #000000; 
font-size: 8pt; 
text-align: center; 
text-decoration: none;
border-width: 1px 1px 1px 1px;
border-style: solid; 
padding: 1px;
}

.pk_h1{
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #000000; 
font-size: 10pt; 
line-height: 12pt; 
font-weight: bold; 
text-transform:uppercase;
}

.pk_teamplayed_th{
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #000000; 
font-size: 8pt; 
text-align: left; 
text-decoration: none; 
background-color: #ffffff;
border-width: 1px 1px 1px 1px;
border-style: solid;
padding: 1px;
}
.pk_teamplayed_td{  
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #000000; 
font-size: 8pt;
text-align: left; 
text-decoration: none;
padding: 1px;
}

.pk_tournament_th{
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #000000; 
font-size: 8pt;
text-align: left; 
text-decoration: none; 
background-color: #ffffff;
border-width: 1px 1px 1px 1px;
border-style: solid;
padding: 1px;
}
.pk_tournament_td1{  
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #000000; 
font-size: 8pt;
text-align: left; 
text-decoration: none; 
font-weight: bold; 
padding: 1px;
}

.pk_tournament_td2{  
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #000000; 
font-size: 8pt;
text-align: left; 
text-decoration: none; 
padding: 1px;
}

.pk_scoreboard_th{
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #000000; 
font-size: 8pt;
text-align: left; 
text-decoration: none; 
background-color: #ffffff;
border-width: 1px 1px 1px 1px;
border-style: solid;
padding: 1px;
}
.pk_scoreboard_td1{  
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #000000; 
font-size: 8pt;
text-align: left; 
text-decoration: none; 
border-width: 1px 1px 1px 1px;
border-style: solid; 
padding: 1px;
}

.pk_scoreboard_td2{  
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #000000; 
font-size: 8pt;
text-align: center; 
text-decoration: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
padding: 1px; 
}