HTML {
margin: 0;
overflow:auto;
border: none;
}

body {
margin: 0;
}

p{  
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #000000; 
font-size: 10px; 
text-align: left; 
text-decoration: none; 
}

.pk_table{
border-collapse:collapse;
margin: 5px;
padding: 1px;
}

.pk_ser_th{
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #ffffff; 
font-size: 10px; 
text-align: center; 
text-decoration: none; 
background-color: #006699;
border-width: 1px 1px 1px 1px;
border-color: #000000; 
border-style: solid; 
}
.pk_ser_td1{  
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #000000; 
font-size: 10px; 
text-align: left; 
text-decoration: none; 
border-width: 1px 1px 1px 1px;
border-style: solid;
white-space: nowrap;
}
.pk_ser_td2{  
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #000000; 
font-size: 10px; 
text-align: center; 
text-decoration: none;
border-width: 1px 1px 1px 1px;
border-style: solid; 
}

.pk_playoff_td1{  
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #000000; 
font-size: 10px; 
text-align: left; 
text-decoration: none; 
white-space: nowrap;
}

.pk_h1{
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #006699; 
font-size: 10pt; 
line-height: 12pt; 
font-weight: bold; 
text-transform:uppercase;
}

.pk_teamgames_th{
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #ffffff; 
font-size: 10px; 
text-align: left; 
text-decoration: none; 
background-color: #006699;
border-width: 1px 1px 1px 1px;
border-style: solid;
}
.pk_teamgames_td{  
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #000000; 
font-size: 10px; 
text-align: left; 
text-decoration: none; 
}

.pk_tournament_th{
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #ffffff; 
font-size: 10px; 
text-align: left; 
text-decoration: none; 
background-color: #006699;
border-width: 1px 1px 1px 1px;
border-style: solid;
}
.pk_tournament_td1{  
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #000000; 
font-size: 10px; 
text-align: left; 
text-decoration: none; 
font-weight: bold; 
}

.pk_tournament_td2{  
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #000000; 
font-size: 10px; 
text-align: left; 
text-decoration: none; 
}

.pk_scoreboard_th{
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #ffffff; 
font-size: 10px; 
text-align: left; 
text-decoration: none; 
background-color: #006699;
border-width: 1px 1px 1px 1px;
border-style: solid;
}
.pk_scoreboard_td1{  
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #000000; 
font-size: 10px; 
text-align: left; 
text-decoration: none; 
border-width: 1px 1px 1px 1px;
border-style: solid; 
}

.pk_scoreboard_td2{  
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #000000; 
font-size: 10px; 
text-align: center; 
text-decoration: none;
border-width: 1px 1px 1px 1px;
border-style: solid; 
}

.timezone{  
color: #a0a0a0;
font-style:italic; 
}