APP_PORT=8080
DB_PORT=3306
MYSQL_DATABASE=ultiorganizer
MYSQL_USER=ultiorganizer
MYSQL_PASSWORD=ultiorganizer
MYSQL_ROOT_PASSWORD=changeme
XDEBUG_MODE=debug
XDEBUG_START_WITH_REQUEST=yes
XDEBUG_CLIENT_HOST=host.docker.internal
XDEBUG_CLIENT_PORT=9003
XDEBUG_IDEKEY=VSCODE
