<table style='border-collapse:separate' cellpadding='2' cellspacing='0' border='0' width='100%'>
<tr>
<td style='font-weight:bold;text-align: center;vertical-align: middle;width:25%;'>[round 1]</td><td style='font-weight:bold;text-align: center;vertical-align: middle;width:25%;'>[round 2]</td><td style='font-weight:bold;text-align: center;vertical-align: middle;width:25%;'>[round 3]</td><td style='font-weight:bold;text-align: center;vertical-align: middle;width:25%;'>[placement]</td>
</tr>
<tr>
<td style='width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-bottom: 1px solid #E0E0E0;width:25%;'>[team 1]</td><td style='width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:25%;'>[game 1/1]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:25%;'>[winner 1/1]</td><td style='width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:25%;'>[team 2]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-top: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:25%;'>[game 2/1]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:25%;'>[winner 2/1]</td><td style='width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-bottom: 1px solid #E0E0E0;width:25%;'>[team 3]</td><td style='border-right: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:25%;'>[game 1/2]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:25%;'>[winner 1/2]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:25%;'>[team 4]</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-top: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:25%;'>[game 3/1]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:25%;'>[placement 1]</td>
</tr>
<tr>
<td style='border-bottom: 1px solid #E0E0E0;width:25%;'>[team 5]</td><td style='width:25%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:25%;'>[game 1/3]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:25%;'>[winner 1/3]</td><td style='border-right: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:25%;'>[team 6]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-top: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:25%;'>[game 2/2]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:25%;'>[winner 2/2]</td><td style='border-left: 1px solid #E0E0E0;width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-bottom: 1px solid #E0E0E0;width:25%;'>[team 7]</td><td style='border-right: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:25%;'>[game 1/4]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:25%;'>[winner 1/4]</td><td style='border-left: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:25%;'>[placement 2]</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:25%;'>[team 8]</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td><td style='border-top: 1px solid #E0E0E0;width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-top: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:25%;'>[loser 2/1]</td><td style='width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:25%;'>[game 3/2]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:25%;'>[placement 3]</td>
</tr>
<tr>
<td style='width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:25%;'>[loser 2/2]</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td><td style='border-top: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:25%;'>[placement 4]</td>
</tr>
<tr>
<td style='width:25%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:25%;'>[loser 1/1]</td><td style='width:25%;'>&nbsp;</td><td style='border-top: 1px solid #E0E0E0;width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:25%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:25%;'>[game 2/3]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:25%;'>[winner 2/3]</td><td style='width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:25%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:25%;'>[loser 1/2]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:25%;'>&nbsp;</td><td style='border-top: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:25%;'>[game 3/3]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:25%;'>[placement 5]</td>
</tr>
<tr>
<td style='width:25%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:25%;'>[loser 1/3]</td><td style='border-right: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:25%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:25%;'>[game 2/4]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:25%;'>[winner 2/4]</td><td style='border-left: 1px solid #E0E0E0;width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:25%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:25%;'>[loser 1/4]</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:25%;'>&nbsp;</td><td style='border-top: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:25%;'>[placement 6]</td>
</tr>
<tr>
<td style='width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td><td style='border-top: 1px solid #E0E0E0;width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:25%;'>[loser 2/3]</td><td style='width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:25%;'>[game 3/4]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:25%;'>[placement 7]</td>
</tr>
<tr>
<td style='width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:25%;'>[loser 2/4]</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td><td style='border-top: 1px solid #E0E0E0;width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:25%;'>[placement 8]</td>
</tr>
<tr>
<td style='width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td><td style='width:25%;'>&nbsp;</td><td style='border-top: 1px solid #E0E0E0;width:25%;'>&nbsp;</td>
</tr>
</table>
