<table style='border-collapse:separate' cellpadding='2' cellspacing='0' border='0' width='100%'>
<tr>
<td style='font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[round 1]</td><td style='font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[round 2]</td><td style='font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[round 3]</td><td style='font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[round 4]</td><td style='font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[placement]</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[team 1]</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 1/1]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[winner 1/1]</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[team 2]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 2/1]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[winner 2/1]</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[team 3]</td><td style='border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 1/2]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[winner 1/2]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[team 4]</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 3/1]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[winner 3/1]</td><td style='width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[team 5]</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 1/3]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[winner 1/3]</td><td style='border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[team 6]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 2/2]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[winner 2/2]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[team 7]</td><td style='border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 1/4]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[winner 1/4]</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[team 8]</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 4/1]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[placement 1]</td>
</tr>
<tr>
<td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[team 9]</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;text-align: center;vertical-align: middle;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 1/5]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[winner 1/5]</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[team 10]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 2/3]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[winner 2/3]</td><td style='border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[team 11]</td><td style='border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 1/6]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[winner 1/6]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[team 12]</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 3/2]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[winner 3/2]</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[team 13]</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 1/7]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[winner 1/7]</td><td style='border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[placement 2]</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[team 14]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 2/4]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[winner 2/4]</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[team 15]</td><td style='border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 1/8]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[winner 1/8]</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[loser 3/1]</td><td style='width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[team 16]</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 4/2]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[placement 3]</td>
</tr>
<tr>
<td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[loser 3/2]</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[loser 2/1]</td><td style='width:20%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[placement 4]</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 3/3]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[winner 3/3]</td><td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[loser 2/2]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 4/3]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[placement 5]</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[loser 2/3]</td><td style='border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 3/4]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[winner 3/4]</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[loser 2/4]</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[placement 6]</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[loser 3/3]</td><td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 4/4]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[placement 7]</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[loser 3/4]</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[loser 1/1]</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[placement 8]</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 2/5]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[winner 2/5]</td><td style='width:20%;'>&nbsp;</td><td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[loser 1/2]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 3/5]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[winner 3/5]</td><td style='width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[loser 1/3]</td><td style='border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 2/6]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[winner 2/6]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[loser 1/4]</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 4/5]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[placement 9]</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[loser 1/5]</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 2/7]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[winner 2/7]</td><td style='border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[loser 1/6]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 3/6]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[winner 3/6]</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[loser 1/7]</td><td style='border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 2/8]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[winner 2/8]</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[placement 10]</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[loser 1/8]</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[loser 3/5]</td><td style='width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 4/6]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[placement 11]</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[loser 3/6]</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[loser 2/5]</td><td style='width:20%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[placement 12]</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 3/7]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[winner 3/7]</td><td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[loser 2/6]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 4/7]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[placement 13]</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[loser 2/7]</td><td style='border-right: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 3/8]</td><td style='border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[winner 3/8]</td><td style='border-left: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[loser 2/8]</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[placement 14]</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[loser 3/7]</td><td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:20%;'>[game 4/8]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[placement 15]</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:20%;'>[loser 3/8]</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-top: 1px solid #E0E0E0;width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='width:20%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:20%;'>[placement 16]</td>
</tr>
</table>
