<table style='border-collapse:separate' cellpadding='2' cellspacing='0' border='0' width='100%'>
<tr>
<td style='font-weight:bold;text-align: center;vertical-align: middle;width:50%;'>[round 1]</td>
<td style='font-weight:bold;text-align: center;vertical-align: middle;width:50%;'>[placement]</td>
</tr>
<tr>
<td style='width:50%;'>&nbsp;</td><td style='width:50%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-bottom: 1px solid #E0E0E0;width:50%;'>[team 1]</td><td style='width:50%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;font-weight:bold;text-align: center;vertical-align: middle;width:50%;'>[game 1/1]</td><td style='border-left: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:50%;'>[placement 1]</td>
</tr>
<tr>
<td style='border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;width:50%;'>[team 2]</td><td style='border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;width:50%;'>&nbsp;</td>
</tr>
<tr>
<td style='border-top: 1px solid #E0E0E0;width:50%;'>&nbsp;</td><td style='width:50%;'>&nbsp;</td>
</tr>
<tr>
<td style='width:50%;'>&nbsp;</td><td style='border-bottom: 1px solid #E0E0E0;width:50%;'>[placement 2]</td>
</tr>
<tr>
<td style='width:50%;'>&nbsp;</td><td style='border-top: 1px solid #E0E0E0;width:50%;'>&nbsp;</td>
</tr>
</table>
